# Jira Configuration
JIRA_BASE_URL=https://10.100.71.140:8443
JIRA_USERNAME=m.ghafoory
JIRA_TOKEN=YOUR_JIRA_TOKEN_HERE
JIRA_PROJECT_KEY=
JIRA_WAITING_STATUSES=OnHolding,Waiting,On Hold,Wait,Pending

# Confluence Configuration
CONFLUENCE_BASE_URL=https://10.100.71.140:8443/wiki
CONFLUENCE_USERNAME=m.ghafoory
